@import "tailwindcss";

@theme {
  --color-primary: #0b2b45;
  --color-secondary: #4a5568;
  --color-accent: #007bff;
  --color-action: #f97316;

  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-secondary font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary font-bold;
  }
}

